spark.master=spark://cldralogin101:7077
ncml.recreate=false
execution.handler.type=spark
wps.response.syntax=generic
parts.per.node=18
spark.log.level=WARN
inputs.methods.allowed=collection,file,http,cache
kernels.visibility=experimental
max.product.size=4g
max.input.size=1000g